$white: #ffffff;
$orange: #e79609;
$red: #c90f26;
$darkRed: #b51c31;
$darkRedSat: #c44c58;
$AOTLLightBlue: #2cdbde;
$AOTLTeal: #02baf8;
$AOTLBlue: #323c91;
$AOTLPurple: #6e2d7d;
$AOTLRed: #f22b16;
$AOTLDarkRed: #7f000b;